body {
 background-image: url("http://cdn.pcwallart.com/images/red-wine-grapes-wallpaper-1.jpg");
 color: deepskyblue;
}

.header {
  text-align: center;
}

.header {
  font-family: Arial, serif;
}


