body, header,main,ul,li,h1,h2,h3,h4,p {
 padding:0 0 0 0;
 border:0 0 0 0;
 margin:0 0 0 0;
}
body {
 background-image: url("http://img10.deviantart.net/f207/i/2012/283/1/7/old_paper_00077_by_trug_bild-d5hazz9.jpg");
 text-align:left;
}

img{
  float:right;
 max-height:100%;
}

header {
  padding:10px;
  border-bottom:3px;
  border-style:double;
  margin:10px auto 10px auto;
  font-family: Papyrus, Copperplate, serif;
  font-weight:bold;
}
main {
  clear:right;
  font-family: "Goudy Old Style", "Century Gothic", serif;
}
section1 {
  padding:10px;
  border-width:2px;
  border-style:double;
  border-color:#000000;
  margin: 10px auto 10px auto;
}
  
ul {
  display:inline-block;
  font-weight:bold;
}

h3 {
  text-decoration: underline;
  text-align:center;
}
h1,h4 {
 text-align:center;
}
p {
  font-weight:bold;
}
