body {
 background-image: "http://pre06.deviantart.net/ec7f/th/pre/i/2013/138/9/6/cloudy_blue_sky_stock_by_leeorr_stock-d65qsia.jpg";
}

.header {
  text-align: center;
}

.header {
  font-family: Arial, serif;
}


